a{
    color:#474747;
}
h3 {
    font-size: 1.5rem;
}
.nickname {
    font-weight: bold;
    margin-bottom: 20px;
}
/* 네비탭 설정 */
.nav-link{
    color:#2C2C2C;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #2C2C2C;
}
.nav-link:focus, .nav-link:hover{
    background-color: #D9D9D9;
    color:#2C2C2C;
}

.btn {
    padding: 5px 10px;
    background-color: #586149;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
  }
  
  .btn:hover {
    background-color: #454D39;
    color: white;
  }

  .camera:hover {
    color: #F3E0D6;
  }