.reviewCard {
    display: flex;
    padding: 0 10px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #fff;
}

.actionBtn {
    display: flex;
    flex-direction: column;
}

.review-actions {
    margin-top: 0;
}