/* 기본 설정 */
.card-section {
  font-family: 'Arial', sans-serif;
  background-color: #F3E0D6;
  padding: 20px;
}

.card-sec{
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 기본적으로 왼쪽 정렬 */
}

.card-section h5 {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* 필터 버튼 스타일 */
.card-filter {
  display: flex;
  flex-wrap: wrap; /* 넘칠 때 줄 바꿈 */
  gap: 8px;
  margin-bottom: 10px;
}

.filter-btn {
  color: #33382A;
  padding: 10px 15px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.All-btn {
  margin: 0 10px 15px auto;
}

.filter-btn:hover {
  background-color: #454D39;
  color: white;
}

.filter-btn.active {
  background-color: #454D39;
  color: white;
}

/* 카드 리스트 스타일 */
.card-list {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  gap: 16px;
}

.card-style {
  width: 100%;
  display: flex;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 16px;
}

.card-image-placeholder {
  flex-shrink: 0;
  width: 150px;  /* 이미지 컨테이너 너비 */
  height: 150px; /* 이미지 컨테이너 높이 */
  margin-right: 16px;
  justify-content: center; /* 이미지를 가운데 정렬 */
  align-items: center;     /* 이미지를 가운데 정렬 */
  overflow: hidden;        /* 컨테이너 바깥으로 내용이 넘치지 않도록 */
}

.card-style img {
  max-width: 100%;  /* 이미지가 컨테이너를 넘지 않도록 */
  max-height: 100%; /* 이미지가 컨테이너를 넘지 않도록 */
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-body {
  font-size: 14px;
  margin-bottom: 15px;
}

.card-btn {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 30px;
  background-color: #586149;
  color: white;
  border: none;
  cursor: pointer;
}
.card-btn:hover{
  background-color: #454D39;
}

/* 페이지네이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-btn {
  padding: 10px 20px;
  background-color: #586149;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.pagination-btn:hover{
  background-color: #454D39;
}