
.page {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 24px;
    gap: 32px;

    width: 100%;
    height: 896px;

    background: #F5F5F5;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.login-container{
    /* Form Log In */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;

    width: 320px;
    min-width: 320px;
    height: auto;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.form-btn{
  /* Button */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 272px;
    height: 40px;

    background: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}

.logotitle{
    /* Title */
    height: 86px;
    font-family: 'Noto Serif KR', serif; /* 한글 서체 사용 */
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    /* or 86px */
    text-align: center;
    letter-spacing: -0.03em;

    color: #2C2C2C;
}